.navbar {
  border-bottom: 3px solid black;
}
.nav-title {
  font-size: xx-large;
  margin: 0px 7px 0px 10px;
}

.nav-subtitle {
  margin-left: 5px;
  font-size: large;
}

.nav-link {
  color: black;
}

.active {
  color: #00b4c2;
}
