.navbar {
  border-bottom: 3px solid #202a25;
}
.nav-title {
  font-size: xx-large;
  margin: 0px 7px 0px 10px;
}

.nav-subtitle {
  margin-left: 5px;
  font-size: large;
  color: #80727b;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: #0096cc !important;
}

.nav-link:active {
  color: #0096cc !important;
}

.nav-link:focus {
  color: #0096cc !important;
}
