/*["89bbfe","23ce6b","202a25","9e8576","80727b"]*/

.container {
  padding-top: 30px;
}

body {
  /* background: rgb(137, 187, 254);
  background: linear-gradient(
    90deg,
    rgba(137, 187, 254, 1) 0%,
    rgba(35, 206, 107, 1) 100%
  ); */
  background-color: #002d3d;
}

.text-white {
  color: white;
}
